{% extends "site.html" %}

{% block data %}
<div id="device-edit">
        {% if device.SERL_NBR %}
        <h3>设备管理：{{ device.SERL_NBR }}</h3>
        {% else %}
        <h3>新增设备</h3>
        {% endif %}

        <div class="ma-block clearfix">
        <p id="msg"></p>
        {{form_open('/device/save/' ~ device.STORE_OID, 'class="form-horizontal"')|raw}}
        <div class="text-right"> <em><i class="icon-star-empty"></i> 为必填项</em> </div>
        <div class="control-group">
            <label class="control-label" for="inputSerlNbr">序列号</label>
            <div class="controls">
            {% if device.SERL_NBR %}
                {{ device.SERL_NBR }}
                {{form_hidden('serl-nbr', device.SERL_NBR, 'id="inputSerNbr"')|raw}}
            {% else %}
                {{form_input('serl-nbr', device.SERL_NBR, 'id="inputSerNbr"')|raw}}
                <i class="icon-star-empty"></i>
            {% endif %}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputStore">所属门店</label> <div class="controls">
                {{form_dropdown('store-oid', param.store, device.STORE_OID, 'id="inputStore"')|raw}}
                <i class="icon-star-empty"></i>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputIsUploadBehavioral">上传行为数据</label> 
            <div class="controls">
                {{form_dropdown('is-upload-behavioral', param.yesno, device.IS_UPLOAD_BEHAVIORAL, 'id="inputIsUploadBehavioral"')|raw}}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputIsEnabled">是否可用</label> 
            <div class="controls">
                {{form_dropdown('is-enabled', param.enable, device.IS_ENABLED, 'id="inputIsEnabled"')|raw}}
                <i class="icon-star-empty"></i>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                {{form_submit('save', '保存', 'class="btn btn-primary"')|raw}}
                <a href="{{site_url()}}device/">返回</a>
            </div>
        </div>
        <input type="hidden" name="id" value="{{device.STORE_OID}}" />

    </div>

</div>
{% endblock %}
