{% extends "site.html" %}

{% block operate %}
    <h3>菜品一览</h3>
    <div id="dish-index" class="ma-block clearfix">
    {{form_open('/dish/index', 'class="form-inline"')|raw}}
        <span class="label">所属门店</span>
        {{form_dropdown("store-oid", param.store, search.STORE_OID)|raw}}
        <span class="label">所属一级分类</span>
        {{form_hidden('flc-oid', search.FLC_OID)|raw}}
        {{form_dropdown("flc-oid", param.first, search.FLC_OID)|raw}}
        <span class="label">所属二级分类</span>
        {{form_hidden('slc-oid', search.SLC_OID)|raw}}
        {{form_dropdown("slc-oid", param.second, search.SLC_OID)|raw}}
        <span class="label">菜名</span>
        {{form_input("dish-name", search.DISH_NAME, 'class="input-small" placeholder="菜品名称"')|raw}}
        <span class="label">编码</span>
        {{form_input("dish-code", search.DISH_CODE, 'class="input-small" placeholder="菜品编码"')|raw}}
        <button type="submit" class="btn btn-primary">Go!</button>
    </form>
    </div>
{% endblock %}

{% block data %}
<div id="dish-index-content" class="ma-block clearfix">
    <table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>{{form_checkbox('checkall')|raw}}</th>
            <th>#</th>
            <th>名称</th>
            <th>编码</th>
            <th>单位</th>
            <th>价格</th>
            <th>促销|推荐</th>
            <th>所属门店</th>
            <th>分类</th>
            <th>图片</th>
        </tr>
    </thead>
    <tbody>
    {% for item in dish %}
        <tr>
            <td>{{form_checkbox('check', item.DISH_OID)|raw}}</td>
            <td>{{loop.index + search.start}}</td>
            <td><a href="{{site_url()}}dish/edit/{{item.DISH_OID}}" title="编辑">{{item.DISH_NAME}}</a></td>
            <td>{{item.DISH_CODE}}</td>
            <td>{{item.UNIT}}</td>
            <td>{{item.CUR_COST}}</td>
            <td>
                {% if item.IS_PROM == constant('MA_ENABLE_Y')%}
                <span class="label label-success">促</span>
                {% else %}
                <span class="label">促</span>
                {% endif %}

                {% if item.IS_NEW_PRODUCTS == constant('MA_ENABLE_Y')%}
                <span class="label label-success">荐</span>
                {% else %}
                <span class="label">荐</span>
                {% endif %}
            </td>
            <td><a class="edit-store" href="#" data-id="{{item.DISH_OID}}">编辑</a></td>
            <td><a class="edit-category" href="#" data-id="{{item.DISH_OID}}">编辑</a></td>
            <td><a href="{{site_url()}}dish/image/{{item.DISH_OID}}" title="图片编辑">编辑</a></td>
        </tr>
    {% else %}
        <tr><td colspan="10"><em>查了半天，没有数据，不如添加一条吧.</em></td></tr>
    {% endfor %}
    </tbody>
    </table>
    <a class="btn span2" href="{{site_url()}}dish/edit/0">新增</a>
    <a class="btn span2 btn-danger input-medium" href="{{site_url()}}dish/del" name="multi-del">删除</a>
    {{pagination|raw}}
</div>

<div id="dish-modal-store" class="modal hide fade">
    <div class="modal-header clearfix">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>菜品关联门店</h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <div class="controls">
            {% for key, item in param.store %}
                {% if key %}
                <label class="checkbox inline">
                {{form_checkbox('store-oid', key, false, 'id="inputStore"')|raw}}{{item}}
                </label>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
    {{form_hidden('id', 0)|raw}}
    <div class="modal-footer">
        <button class="btn btn-primary save">保存</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    </div>
</div>

<div id="dish-modal-category" class="modal hide fade">
    <div class="modal-header clearfix">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>菜品关联分类</h3>
    </div>
    <div class="modal-body">
        <div class="control-group offset1">
            <label class="control-label" for="inputFirst">所属一级分类</label>
            {{form_dropdown('flc-oid', param.first, null, 'id="inputFirst"')|raw}}
            <label class="control-label" for="inputSecond">所属二级分类</label>
            {{form_hidden('slc-oid', null)|raw}}
            {{form_dropdown('slc-oid', param.second, null, 'id="inputSecond"')|raw}}
        </div>
    </div>
    {{form_hidden('id', 0)|raw}}
    <div class="modal-footer">
        <button class="btn btn-primary save">保存</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    </div>
</div>

{% endblock %}
