{% extends "site.html" %}
{% block data %}
<div id="home" class="container">
    <!-- carousel -->
    <div id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="{{base_url()}}assets/upload/img/carousel/carousel-01.jpg" alt="">
            </div>
            <div class="item">
                <a href="http://map.baidu.com/?newmap=1&ie=utf-8&s=s%26wd%3D%E5%8D%97%E4%BA%AC%E5%B8%82%E5%BB%BA%E9%82%BA%E5%8C%BA%E6%9C%88%E5%AE%89%E8%A1%9759-3%E5%8F%B7" target="_blank">
                    <img src="{{base_url()}}assets/upload/img/carousel/carousel-02.jpg" alt="">
                </a>
            </div>
            <div class="item">
                <img src="{{base_url()}}assets/upload/img/carousel/carousel-03.jpg" alt="">
                <div class="carousel-caption">
                    <p>想换车，就上仁人易车网。专业的车辆评估，安全拍卖，足不出门，让您轻松买卖。您只需要在线预约，QQ或拨打电话400-997-0017联系我们。</p>
                </div>
            </div>
            <div class="item">
                <img src="{{base_url()}}assets/upload/img/carousel/carousel-04.jpg" alt="">
            </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>

    <div class="clearfix">
        <div class="span8">
            <!-- auction -->
            <div id="auction" class="sale clearfix">
                <div class="head"><span class="title">竞拍车辆</span><span class="btn-link more"><a href="{{site_url()}}/buy/auction/">更多</a></span></div>
                <ul class="clearfix">
                    {% for item in auction %}
                    <li>
                        <div class="img"><img src="{{base_url()}}assets/upload/{{array_pop(json_decode(item.images, true))}}" /></div>
                        <div class="misc">
                            <p>{{model_value(item.model)}}</p>
                            <p>出厂年月: {{item.factory_date|date('Y-m')}}</p>
                            <p>技术等级: {{item.appraisal_level}}</p>

                        {% if item.sale_status == 'presale' %}
                            <p>竞拍开始时间</p>
                            <p>{{item.sale_start_date|date('Y-m-d H:i')}}</p>
                        </div>
                        <div><a href="{{site_url()}}/buy/car/{{item.id}}" class="btn btn-info">即将开始</a></div>
                        {% elseif item.sale_status == 'selling' %}
                            <p>距离结束还有:</p>
                            <p class="countdown">{{item.sale_end_date|date('Y-m-d H:i')}}</p>
                        </div>
                        <div><a href="{{site_url()}}/buy/car/{{item.id}}" class="btn btn-primary">{% if is_pay(user.id, item.id) %}已参与竞拍{% else %}我要竞拍{% endif %}</a></div>
                        {% else %}
                            <p>竞拍结束时间</p>
                            <p>{{item.sale_end_date|date('Y-m-d H:i')}}</p>
                            {% if item.bid_num %}
                            <p>竞拍人数: {{item.bid_num}}人</p>
                            {% endif %}
                        </div>
                        <div><a href="{{site_url()}}/buy/car/{{item.id}}" class="btn">已经结束</a></div>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>

            {% if consign %}
            <!-- consign -->
            <div id="consign" class="sale clearfix">
                <div class="head"><span class="title">寄售车辆</span><span class="btn-link more"><a href="{{site_url()}}/buy/consign/">更多</a></span></div>
                <ul class="clearfix">
                    {% for item in consign %}
                    <li>
                        <div class="img"><img src="{{base_url()}}assets/upload/{{array_pop(json_decode(item.images, true))}}" /></div>
                        <div class="misc">
                            <p>{{model_value(item.model)}}</p>
                            <p>出厂年月: {{item.factory_date|date('Y-m')}}</p>
                            <p>技术等级: {{item.appraisal_level}}</p>
                            <p>价格: {{item.sale_price|number_format}}元</p>
                        </div>
                        <div><a href="{{site_url()}}/buy/car/{{item.id}}" class="btn">查看详情</a></div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            <!-- social -->
            <div id="followme" class="clearfix">
                <a href="#weixinModal" data-toggle="modal" ><img src="{{base_url()}}assets/img/icon-weixin.jpg" alt="微信" title="微信" /></a>
                <a href="http://t.qq.com/renrenyiche" target="_blank"><img src="{{base_url()}}assets/img/icon-tqq.jpg" alt="腾讯微博" title="腾讯微博" />
                <a href="http://weibo.com/u/3558454641" target="_blank"><img src="{{base_url()}}assets/img/icon-weibo.jpg" alt="新浪微博" title="新浪微博" /></a>
            </div>
            <div id="weixinModal" class="modal hide fade">
            <div class="modal-header clearfix">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <p><img src="{{base_url()}}/assets/img/icon-weixin-qr.png" alt="扫描一下，关注我" title="扫描一下，关注我" /></p>
            </div>
            <div class="modal-footer">
                扫描一下，关注我&nbsp;
            </div>
            </div>

        </div>

        <div class="span4">
            <div class="banner">
                <div class="head"><span class="title">在线预约卖车</span></div>
                <div class="data">
                    <form id="prebook-form" action="{{site_url()}}/api/prebook"  method="post" class="form-horizontal">
                        <div id="msg"></div>
                        <div class="control-group">
                            <label class="control-label" for="inputName">姓名</label>
                            <div class="controls">
                                <input type="text" id="inputName" placeholder="姓名" name="name">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputPhone">手机</label>
                            <div class="controls">
                                <input type="text" id="inputPhone" placeholder="手机" name="phone">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputModel">品牌车型</label>
                            <div class="controls">
                                {{model_dropdown("model", default.model, "id=\"inputModel\"")|raw}}
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputArea">地区</label>
                            <div class="controls">
                                {{area_dropdown("area", default.area, "id=\"inputArea\"")|raw}}
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputBuyDate">购买时间</label>
                            <div class="controls">
                                {{buydate_dropdown()|raw}}
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputMileage">行驶里程</label>
                            <div class="controls">
                                <input type="text" id="inputMileage" placeholder="行驶里程" name="mileage">
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> 确认提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="banner">
                <img src="{{base_url()}}assets/img/purpose-ad.jpg" alt="4步骤让您轻松买车" title="4步骤让您轻松买车" />
            </div>

            <div class="banner">
                <div class="head"><span class="title">最新活动</span><span class="btn-link more"><a href="{{site_url()}}/news/">更多</a></span></div>
                <div class="data">
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active"><a href="#activity">{{option_value('tag', 'activity')}}</a></li>
                        <li><a href="#news">{{option_value('tag', 'news')}}</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="activity">
                            <ul>
                                {% for item in article.activity %}
                                <li><a href="{{site_url()}}/article/activity/{{item.id}}">{{item.title}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="tab-pane" id="news">
                            <ul>
                                {% for item in article.news %}
                                <li><a href="{{site_url()}}/article/news/{{item.id}}">{{item.title}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
