{% extends "site.html" %}

{% block container %}
<div class="container" id="home-index">
        <h2>请选择公司维护基础数据</h2>
        <p id="msg"></p>
        <div class="ma-block clearfix">
            <div class="span7">
                {{form_dropdown('company', company, null, 'class="company input-xxlarge" size=10')|raw}}
            </div>
            <div class="span3">
                <p>{{form_button('add', '新增', 'class="btn input-medium"')|raw}}</p>
                <p>{{form_button('edit', '修改', 'class="btn input-medium"')|raw}}</p>
                <p>{{form_button('del', '删除', 'class="btn btn-danger input-medium"')|raw}}</p>
            </div>
        </div>

        {{form_button('entry', '进入', 'class="btn btn-large input-medium btn-primary"')|raw}}
</div>
{% endblock %}
