{% extends "base.html" %}
{% block head %}
    <meta charset="utf-8">
    <title>{{title}} - iPad电子云菜单系统</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{base_url()}}assets/img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="{{base_url()}}assets/img/favicon.png">
    <!-- Le styles -->
    <link href="{{base_url()}}assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{base_url()}}assets/css/site.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <div class="nav-collapse collapse">
                    {% set s_user = session_value("user") %}
                    {% set route = get_route() %}
                    {% if s_user.USER_TYPE == constant('MA_USER_TYPE_SUPER') and route.class != 'home' %}
                        <a class="brand" href="{{site_url()}}" title="返回公司选择页"><i class="icon-home icon-white"></i> &nbsp;</a>                    
                        {% set com = session_value('company') %}
                        <ul class="nav">
                            <li><a>{{ com.COMPANY_NAME }}</a></li>
                        </ul>
                    {% endif %}
                    <ul class="nav pull-right">
                        {% if not s_user %}
                        <li><a href="{{site_url()}}/login/"><i class="icon-user icon-white"></i> 登录</a></li>
                        {% else %}
                        <li><a href="{{site_url()}}/owner">您好, {{s_user.USER_NAME}}</a></li>
                        <li><a href="{{site_url()}}/logout/" title="退出" alt="退出"><i class="icon-off icon-white"></i> &nbsp;</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% block header %}
    <div id="logo" class="container container-fluid">
        <div class="row-fluid">
            <input type="hidden" id="baseurl" value="{{site_url()}}" />
        </div>
    </div>
    {% endblock %}

    {% block container %}
        <div class="container">
            <div class="row">
                <div class="span3">
                {% block menu %}
                {% if s_user %}
                    <ul class="nav nav-list sidenav affix">
                    {% if s_user.USER_TYPE == constant('MA_USER_TYPE_SUPER') %}
                        <li {% if route.class == 'user' %} class="active" {% endif %}><a href="{{site_url()}}user/">用户管理</a></li>
                        <li {% if route.class == 'param' %} class="active" {% endif %}><a href="{{site_url()}}param/">系统参数管理</a></li>
                        <li {% if route.class == 'store' %} class="active" {% endif %}><a href="{{site_url()}}store/">门店管理</a></li>
                        <li {% if route.class == 'device' %} class="active" {% endif %}><a href="{{site_url()}}device/">iPad设备管理</a></li>
                        <li {% if route.class == 'first' %} class="active" {% endif %}><a href="{{site_url()}}first/">一级分类管理</a></li>
                        <li {% if route.class == 'second' %} class="active" {% endif %}><a href="{{site_url()}}second/">二级分类管理</a></li>
                        <li {% if route.class == 'dish' %} class="active" {% endif %}><a href="{{site_url()}}dish/">菜品管理</a></li>
                    {% else %}
                        <li {% if route.class == 'store' %} class="active" {% endif %}><a href="{{site_url()}}store/">门店管理</a></li>
                        <li {% if route.class == 'device' %} class="active" {% endif %}><a href="{{site_url()}}device/">iPad设备管理</a></li>
                        <li {% if route.class == 'first' %} class="active" {% endif %}><a href="{{site_url()}}first/">一级分类管理</a></li>
                        <li {% if route.class == 'second' %} class="active" {% endif %}><a href="{{site_url()}}second/">二级分类管理</a></li>
                        <li {% if route.class == 'dish' %} class="active" {% endif %}><a href="{{site_url()}}dish/">菜品管理</a></li>
                    {% endif %}
                    </ul>
                {% endif %}
                {% endblock %}
                </div>

                <div class="span9">
                {% block operate %}
                {% endblock %}
                {% block data %}
                {% endblock %}
                </div>
            </div>
        </div>
    {% endblock %}

{% endblock %}

{% block footer %}
<footer class="footer">
    <div class="container">
        <p>
        &copy;{{date('Y')}} iPad电子云菜谱后台系统
        </p>
    </div>
</footer>

<script src="{{base_url()}}assets/js/sea.js"></script>
<script>
seajs.config({
    base: "{{base_url()}}assets/",
    alias: {
        "jquery": "js/lib/jquery.min.js"
    }
});
seajs.use("js/main");
</script>
{% endblock %}
