body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #474747;
    font-family: "Microsoft YaHei","微软雅黑","宋体", Arial,Helvetica,sans-serif;
}
#content { background-color: #e4e2e3; padding-bottom: 20px; }
.navbar-inverse .navbar-inner {
    background-color: #474747;
    border-color: #474747;
    background-image: -moz-linear-gradient(top,#474747,#505050);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#474747),to(#505050));
    background-image: -webkit-linear-gradient(top,#474747,#505050);
    background-image: -o-linear-gradient(top,#474747,#505050);
    background-image: linear-gradient(to bottom,#474747,#505050);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff474747',endColorstr='#ff505050',GradientType=0);
}
.navbar-inverse i {
    margin-top: 4px;
}
.feedback a, .backtop a {
    background: url(../img/icon.png) no-repeat;
}
.feedback {
    position: fixed;
    _position: absolute;
    bottom: 70px;
    _bottom: "auto";
}
.feedback a {
    width: 40px;
    height: 40px;
    display: block;
    background-position: 0 -50px;
}
.feedback a:hover {
    background-position: -42px -50px;
}

.backtop {
    position: fixed;
    display: none;
    _position: absolute;
    bottom: 115px;
    _bottom: "auto";
}
.backtop a {
    width: 40px;
    height: 40px;
    display: block;
    background-position: 0 0;
}
.backtop a:hover {
    background-position: -42px 0;
}

span.del { cursor: pointer; position: relative; top: 20px; right: 5px; background-color:#fff; }    
span.simplecolorpicker.icon {margin-top: 4px; border-color: black;}

hr {
    margin: 5px 0;
}
.nav-tabs {
    margin-bottom: 0;
}
.tab-content {
    padding: 20px 20px 0 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-top-color: transparent;
    background-color: #fff;
}

div.block {
    position: relative;
    padding-right: 4px;
}
div.block label.tip {
    position: absolute;
    color: #808080;
    font-size: 14px;
    left: 10px;
    top: 5px;
    cursor: inherit;
}

div.money-preview {
    _width:178px;
    min-width:178px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    border:1px solid #C5C5C5;
    background:/*#fff*/#FFFFE4;
    position:absolute;
    margin:2px 0 0;
    z-index: 1000;
}
.well {
    margin-bottom: 0;
}
.table tr th {
    text-align: center;
}
.table td.center {
    text-align: center;
}
.star {
    color: #e01d00;
}

/* Footdiver
-------------------------------------------------- */
.footer { text-align: center; padding: 30px 0; border-top: 1px solid #e5e5e5; background-color: #474747; }
.footer p { margin-bottom: 0; color: #777; }
.footer-links { margin: 10px 0; }
.footer-links li { display: inline; padding: 0 2px; }
.footer-links li:first-child { padding-left: 0; }
.footer p a, .footer-links li a { color: #777; }
.footer p a:hover, .footer-links li a:hover { color: #fff; }

/* Login
-------------------------------------------------- */
.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 10px auto 10px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    line-height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
    +height: 30px;
    +line-height: 30px;
    +padding : 0 8px;;
}
#login div.block {
    position: relative;
}
#login label.tip {
    position: absolute;
    color: #808080;
    font-size: 14px;
    left: 10px;
    top: 8px;
    cursor: inherit;
}
#login div.span6 {
    padding: 14px 0 0 15px;
}

/* Menu
--------------------------------------*/
ul.nav-list {
    width: 200px;
    margin-top:20px;
}

/* Sidenav for Docs
-------------------------------------------------- */
.sidenav {
    width: 228px;
    margin: 30px 0 0;
    padding: 0;
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.sidenav > li > a {
    display: block;
    width: 190px \9;
    margin: 0 0 -1px;
    padding: 8px 14px;
    border: 1px solid #e5e5e5;
}
.sidenav > li:first-child > a {
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
.sidenav > li:last-child > a {
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}
.sidenav > .active > a {
    position: relative;
    z-index: 2;
    padding: 9px 15px;
    border: 0;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.sidenav .icon-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
}
.sidenav > li > a:hover {
    background-color: #f5f5f5;
}
.sidenav a:hover .icon-chevron-right {
    opacity: .5;
}
.sidenav .active .icon-chevron-right,
.sidenav .active a:hover .icon-chevron-right {
    background-image: url(../img/glyphicons-halflings-white.png);
    opacity: 1;
}
.sidenav.affix {
    top: 40px;
}
.sidenav.affix-bottom {
    position: absolute;
    top: auto;
    bottom: 270px;
}

.ma-block {
    position: relative;
    margin: 15px 0;
    padding: 39px 19px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/* User
--------------------------------------*/
#user textarea {
    width: 500px; 
    min-width:500px; 
    max-width:500px; 

    height:100px; 
    min-height:100px;  
    max-height:100px;
}
#user #myModal div.modal-body div.well {
    margin-bottom: 30px;
}
#user-edit #reset-pwd-modal .modal-body {
    width: 90%;
}

/* Dish
--------------------------------------*/
#dish-image-edit .plus {
    width: 100px;
    height: 100px;
    border: 2px dashed #cecece;
    background: url(../img/plus.png) 36px 38px no-repeat;
}

#dish-image-edit .upload {
    cursor: pointer;
    position: relative;
    font-size: 100px;
    background: #f60;
    top: 40px;
    right: 0;
    width: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
}
#dish-image-edit .del span {
    display: block;
    float: right;
    text-align: right;
    color: red;
    font-weight: bold;
    padding: 0 10px;
    cursor: pointer;
}
#dish-modal-category button.add { 
    margin: 10px;
    margin-top: 50px;
}
#dish-modal-category .model-enable { 
    border: 1px solid #777;
    width: 150px;
    height: 150px;
    padding: 10px;
    overflow-y: scroll;
}
#dish-modal-category .model-enable span.delete {
    color: red;
    cursor: pointer;
}

